body   {
    margin: 0;
    padding: 0;
  }
  
  body * {
    font-family: Arial,
    Helvetica, sans-serif;
  }
  
  @media (min-width: 768px) {
    #wd-kambaz .wd-main-content-offset {
      padding-left: 140px !important;
    }
  }
  .list-group.wd > .list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
  }
  .btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
  }
  .bg-secondary {
    --bs-secondary-rgb: 199, 205, 209;
  }
  .list-group-item {
    --bs-list-group-border-color: gray;
  }
  .wd-lesson {
    border-left: 3px solid green !important;
  }
  
  /* Default state */
.nav-custom {
  color: #dc3545 !important; /* text-danger red */
  border-left: 0 !important;
  text-decoration: none;
  background: none !important;
}

/* Active state */
.active-link {
  color: black !important;
  border-left: 3px solid black !important;
  background: none !important;
  font-weight: 500;
}

/* Remove Bootstrap hover blue */
.nav-custom:hover {
  color: black !important;
  background: none !important;
}
